{% extends 'base.html'%}


{% block content %}
<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    {% include 'includes/nav.html'%}
    <!-- Navbar End -->


    <!-- Blank Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
          <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">Profile Settings</h6>
                        <form method="POST">
                            {%csrf_token%}
                            <div class="mb-3">
                                <label for="phone_number" class="form-label">Profile picture</label>
                                {{form.profile_picture}}
                                <div id="emailHelp" class="form-text">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="phone_code" class="form-label">Address</label>
                                {{form.address}}
                            </div>
                            <div class="mb-3">
                                <label for="teg" class="form-label">Country</label>
                                {{form.country}}
                            </div>
                            <div class="mb-3">
                                <label for="timezone" class="form-label">City</label>
                                {{form.city}}
                            </div>
                            <div class="mb-3">
                                <label for="timezone" class="form-label">Pin code</label>
                                {{form.pin_code}}
                            </div>
                            {% if messages %}
                         <ul class="messages">
                              {% for message in messages %}
                               <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                              {% endfor %}
                        </ul>
                        {% endif %}
                            
                            <button type="submit" class="btn btn-primary">Create Customer</button>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <!-- Blank End -->


    
<!-- Content End -->
{% endblock %}

{%block utils %}
<script>
  
</script>    
{%endblock%}