{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" style="position: relative;">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Reset Password</h6>
                <form action="{% url 'reset_password' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control"  name='confirm_password' id="exampleInputPassword2">
                    </div>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}