{% extends 'base.html'%}


{% block content %}
<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <input class="form-control bg-dark border-0" type="search" placeholder="Search">
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-envelope me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">Message</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all message</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-bell me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">Notificatin</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Profile updated</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">New user added</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Password changed</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all notifications</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">John Doe</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="#" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Blank Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
          <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <form >
                <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4 ml-3">Mail Add</h6>
                <label  class="form-label">Start date</label>
                <div class="d-flex flex-row pl-3">
                    <div class="p-2">
                        <h6 class="mb-4">Year</h6>
                        <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example" id="yearSelect">
                            <option selected>{{mail.start_date|date:"Y"}}</option>
                        </select>
                    </div>
                    <div class="p-2">
                        <h6 class="mb-4">Month</h6>
                        <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example" id="monthSelect">
                            <option selected>{{mail.start_date|date:"m"}}</option>
                        </select>
                    </div>
                    <div class="p-2">
                        <h6 class="mb-4">Day</h6>
                        <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example" id="daySelect">
                            <option selected>{{mail.start_date|date:"d"}}</option>
                        </select></div>
                </div>
                <label  class="form-label">End date</label>
                <div class="d-flex flex-row pl-3">
                    <div class="p-2">
                        <h6 class="mb-4">Year</h6>
                        <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example" id="yearSelect2">
                            <option selected>{{mail.end_date|date:"Y"}}</option>
                        </select>
                    </div>
                    <div class="p-2">
                        <h6 class="mb-4">Month</h6>
                        <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example" id="monthSelect2">
                            <option selected>{{mail.end_date|date:"m"}}</option>
                        </select>
                    </div>
                    <div class="p-2">
                        <h6 class="mb-4">Day</h6>
                        <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example" id="daySelect2">
                            <option selected>{{mail.end_date|date:"d"}}</option>
                        </select></div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <!-- <div class="bg-secondary rounded h-100 p-4"> -->
                            <div class="mb-3">
                                <label for="text_approval" class="form-label">Text Approval</label>
                                <input type="text" class="form-control" id="text_approval" name="text_approval" required value="{{mail.text_approval}}">
                            </div>
                            <div class="mb-3">
                                <label for="fil_code_text" class="form-label">Filter code and text</label>
                                <input type="text" class="form-control" id="fil_code_text" name="fil_code_text" required value="{{mail.fil_code_teg}}">
                            </div>
                            
                            <button type="button" onclick="mail_update()" class="btn btn-primary">Update Mail</button>
                
                </div>
                </div>
                </form>
            </div>


          </div>
            <div class="alert alert-primary" role="alert" id="error" style="display:none;"></div>
        </div>
    </div>
    
    {% if mail.messages_m.all %}
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Messages</h6>
                <!-- <a href="{% url 'message_list' %}">Show all</a> -->
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <th scope="col"><input class="form-check-input" type="checkbox"></th>
                            <th scope="col">Created date to Send</th>
                            <th scope="col">Mail</th>
                            <th scope="col">Customer tag</th>
                            <!-- <th scope="col">Text send</th> -->
                            <!-- <th scope="col">Status</th> -->
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for message in mail.messages_m.all %}
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>{{message.created_date_to_send|date:"M d, Y"}}</td>
                            <td>{{message.mail}}</td>
                            <td>{{message.customer.teg}}</td>
                            {%comment%}
                            <!-- <td>{{message.status}}</td> -->
                            {%if message.status =='processing' %}
                            <td> <button type="button" class="btn btn-success m-2 btn-sm">Processing</button></td>
                            {%endif%}
                            {%if message.status =='message_sent'%}
                            <td> <button type="button" class="btn btn-success m-2 btn-sm">Sent Messages</button></td>
                            {%else%}
                            <td><button type="button" class="btn btn-info m-2 btn-sm">To be sent</button></td>
                            {%endif%}
                            {%endcomment%}
                            <td><a class="btn btn-sm btn-primary" href="{% url 'message_detail' message.id %}"><i class="fa fa-eye"></i> Detail</a><a href=""><button type="button" class="btn btn-danger m-2 btn-sm"><i class="fa fa-trash"></i> Delete</button></a></td> 
                            
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {%endif%}
    <!-- Blank End -->


    
<!-- Content End -->
{% endblock %}

{% block utils%}
<script>
     $(function () {
                var monthSelect = $("#monthSelect");
                var monthSelect2 = $("#monthSelect2");
                var oldmonth =monthSelect.val();
                var oldmonth2 =monthSelect2.val();
                monthSelect.empty();
                monthSelect2.empty();
                for(var i=1; i<=12; i++){
                    if (String(i)==String(oldmonth)){
                        monthSelect.append("<option selected value=" + i + ">" + i + "</option>");
                    }else{
                        monthSelect.append("<option value=" + i + ">" + i + "</option>");
                    }
                    if (String(i)==String(oldmonth2)){
                        monthSelect2.append("<option selected value=" + i + ">" + i + "</option>");
                    }else{
                        monthSelect2.append("<option value=" + i + ">" + i + "</option>");
                    }
                }

                var yearSelect = $("#yearSelect");
                var yearSelect2 = $("#yearSelect2");
                var oldyear =yearSelect.val();
                var oldyear2 =yearSelect2.val();
                yearSelect.empty();
                yearSelect2.empty();
                for(var i=2022; i<=2050; i++){
                    if (String(i)==String(oldyear)){
                        yearSelect.append("<option selected value=" + i + ">" + i + "</option>");
                    }else{
                        yearSelect.append("<option  value=" + i + ">" + i + "</option>");

                    }
                    if (String(i)==String(oldyear2)){
                        yearSelect2.append("<option selected value=" + i + ">" + i + "</option>");
                    }else{
                        yearSelect2.append("<option  value=" + i + ">" + i + "</option>");

                    }
                }
                var daySelect = $("#daySelect");
                var daySelect2 = $("#daySelect2");
                var oldday =daySelect.val();
                var oldday2 =daySelect2.val();
                daySelect.empty();
                daySelect2.empty();
                for(var i=1; i<=28; i++){
                    if (String(i)==String(oldday)){
                        daySelect.append("<option selected value=" + i + ">" + i + "</option>");
                    }else{
                        daySelect.append("<option value=" + i + ">" + i + "</option>");
                    }
                    if (String(i)==String(oldday2)){
                        daySelect2.append("<option selected value=" + i + ">" + i + "</option>");
                    }else{
                        daySelect2.append("<option value=" + i + ">" + i + "</option>");
                    }
                }




            $("#monthSelect").on("change", function () {
                BindDays();
            });
            $("#yearSelect").on("change", function (elem) {
                BindDays();
                
            });
            $("#monthSelect2").on("change", function () {
                BindDays();
            });
            $("#yearSelect2").on("change", function (elem) {
                BindDays();
                
            });
            BindDays();
        });

        function BindDays() {
            var month = $("#monthSelect").val();
            var month2 = $("#monthSelect2").val();
            var dayDropDown = $("#daySelect");
            var dayDropDown2 = $("#daySelect2");
            var oldday =dayDropDown.val();
            var oldday2 =dayDropDown2.val();
            dayDropDown.empty();
            dayDropDown2.empty();
            if (month == 2) {
                for (var i = 1; i <= 28; i++) {
                    if (String(i)==String(oldday)){
                        dayDropDown.append("<option selected value=" + i + ">" + i + "</option>");
                    }else{
                        dayDropDown.append("<option value=" + i + ">" + i + "</option>");

                    }
                }
                var year = $("#yearSelect").val();
                if (parseInt(year) % 4 == 0) {
                    if (String(29)==String(oldday)){
                    dayDropDown.append("<option selected value='29'>29</option>");
                }else{
                        dayDropDown.append("<option  value='29'>29</option>");

                    }
                }
            }
            else if (month == 4 || month == 6 || month == 9 || month == 11) {
                for (var i = 1; i <= 30; i++) {
                    if (String(i)==String(oldday)){
                        dayDropDown.append("<option selected value=" + i + ">" + i + "</option>");
                    }else{
                        dayDropDown.append("<option value=" + i + ">" + i + "</option>");
                    }
                }
            }
            else {
                for (var i = 1; i <= 31; i++) {
                    if (String(i)==String(oldday)){
                        dayDropDown.append("<option selected value=" + i + ">" + i + "</option>");
                    }else{
                        dayDropDown.append("<option value=" + i + ">" + i + "</option>");
                    }
                }
            }
            if (month2 == 2) {
                for (var i = 1; i <= 28; i++) {
                    if (String(i)==String(oldday2)){
                        dayDropDown2.append("<option selected value=" + i + ">" + i + "</option>");
                    }else{
                        dayDropDown2.append("<option value=" + i + ">" + i + "</option>");

                    }
                }
                var year2 = $("#yearSelect2").val();
                if (parseInt(year2) % 4 == 0) {
                    if (String(29)==String(oldday2)){
                    dayDropDown2.append("<option selected value='29'>29</option>");
                }else{
                        dayDropDown2.append("<option  value='29'>29</option>");

                    }
                }
            }
            else if (month2 == 4 || month2 == 6 || month2 == 9 || month2 == 11) {
                for (var i = 1; i <= 30; i++) {
                    if (String(i)==String(oldday2)){
                        dayDropDown2.append("<option selected value=" + i + ">" + i + "</option>");
                    }else{
                        dayDropDown2.append("<option value=" + i + ">" + i + "</option>");
                    }
                }
            }
            else {
                for (var i = 1; i <= 31; i++) {
                    if (String(i)==String(oldday2)){
                        dayDropDown2.append("<option selected value=" + i + ">" + i + "</option>");
                    }else{
                        dayDropDown2.append("<option value=" + i + ">" + i + "</option>");
                    }
                }
            }
        }

        function mail_update(){
            var error =document.getElementById('error');
            var url ="{% url 'update-mail' mail.id %}"
            var values=
                {
                "start_date": "2022-12-22T17:10:03.640Z",
                "text_approval": "string",
                "fil_code_teg": "string",
                "end_date": "2022-12-22T17:10:03.641Z",
                csrfmiddlewaretoken: '{% csrf_token %}'
                }
            

            $.ajax({
                url:'https://muzaffar96.pythonanywhere.com/api/token/',
                type:'POST',
                headers:{
                    'accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{% csrf_token%}',
                },
                data:{
                    "email": "m@mail.ru",
                    "password": "1"
                },
                success: function (response) {
                    $.ajax({
                        url: url,
                        type: "put",
                        data: values ,
                        headers:{'Authorization':'Bearer '+ res.access},
                            success: function (response) {
                                error.innerHTML=res;
                                error.style='display:block';
                            // You will get response from your PHP page (what you echo or print)
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                            console.log(textStatus, errorThrown);
                            }
            });

                }

            });
           
        }
</script>
{%endblock%}