 <!-- Sidebar Start -->
 <div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="{%url 'index'%}" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>MailService</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">{{user.username}}</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="{% url 'index' %}" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <div class="nav-item dropdown">
                <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Elements List</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="{% url 'mail_list' %}" class="dropdown-item">Mails</a>
                    <a href="{% url 'customer_list' %}" class="dropdown-item">Customers</a>
                    <a href="{% url 'message_list' %}" class="dropdown-item">Messages</a>
                    <!-- <a href="{% url 'button' %}" class="dropdown-item">Buttons</a>
                    <a href="{% url 'typography' %}" class="dropdown-item">Typography</a>
                    <a href="{% url 'elements' %}" class="dropdown-item">Other Elements</a> -->
                </div>
            </div>
            <a href="{% url 'add_mail' %}" class="nav-item nav-link"><i class="fa-solid fa-envelopes-bulk"></i>Add Mail</a>
            <a href="{% url 'add_customer' %}" class="nav-item nav-link"><i class="fa fa-user me-2"></i>Add Customer</a>
            <a href="{% url 'add_message' %}" class="nav-item nav-link"><i class="fa-solid fa-inbox me-2"></i>Add Message</a>
            <a href="{% url 'forms' %}" class="nav-item nav-link"><i class="fa-solid fa-paper-plane me-2"></i>Forms</a>
            <!-- <a href="{% url 'tables' %}" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>
            <a href="{% url 'charts' %}" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a> -->
            <!-- <div class="nav-item dropdown">
                <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="{% url 'login' %}" class="dropdown-item">Sign In</a>
                    <a href="{% url 'singup'%}" class="dropdown-item">Sign Up</a>
                    <!-- <a href="{% url 'not_found' %}" class="dropdown-item">404 Error</a>
                    <a href="{% url 'blank' %}" class="dropdown-item">Blank Page</a> -->
                </div>
            </div> -->
        </div>
    </nav>
</div>
<!-- Sidebar End -->