{% extends 'base.html'%}


{% block content %}
<!-- Content Start -->
<div class="content">
    {% include 'includes/nav.html'%}

<form  method="Post">
    {%csrf_token%}
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Mail</h6>
                    
                        <div class="mb-3">
                            <label  class="form-label">Start date</label>
                            {{form.start_date}}
                            <div id="emailHelp" class="form-text">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label  class="form-label">End date</label>
                            {{form.end_date}}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Fitering code and text</label>
                            {{form.fil_code_teg}}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Text approval</label>
                            {{form.text_approval}}
                        </div>
                        {% if messages %}
                         <ul class="messages">
                              {% for message in messages %}
                               <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                              {% endfor %}
                        </ul>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">Create Mail</button>
                    
                </div>
            </div>
        </div>
    </div>
</form>
    
      
   


    
<!-- Content End -->
{% endblock %}

{%block utils%}

<script>
    $(".datepicker").datepicker();
</script>
{%endblock%}

