{% extends 'base.html'%}


{% block content %}
<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <input class="form-control bg-dark border-0" type="search" placeholder="Search">
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-envelope me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">Message</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                <small>15 minutes ago</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all message</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-bell me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">Notificatin</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Profile updated</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">New user added</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Password changed</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all notifications</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">John Doe</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="{% url 'logout' %}" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Sale & Revenue Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-line fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Todays Mail</p>
                        {%if today_count %}
                        <h6 class="mb-0">{{today_count}}</h6>
                        {%else%}
                        <h6 class="mb-0">0</h6>
                        {%endif%}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-bar fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total Mails</p>
                        {%if all_mail%}
                        <h6 class="mb-0">{{all_mail}}</h6>
                        {% else %}
                        <h6 class="mb-0">0</h6>
                        {%endif%}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-area fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Today Sent Mails</p>
                        {%if today_used %}
                        <h6 class="mb-0">{{today_used}}</h6>
                        {%else%}
                        <h6 class="mb-0">0</h6>
                        {%endif%}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-pie fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total Sent Mails</p>
                        {% if total_sent_mails %}
                        <h6 class="mb-0">{{total_sent_mails}}</h6>
                        {% else %}
                        <h6 class="mb-0">0</h6>
                        {%endif%}

                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Sale & Revenue End -->
    
    <!-- Active Sales Start -->
    {% if today_active %}
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Active Mails</h6>
                <a href="">Show All</a>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <th scope="col"><input class="form-check-input" type="checkbox"></th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End date</th>
                            <th scope="col">Filtering tags</th>
                            <th scope="col">Text send</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for active in today_active %}
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>{{active.start_date|date:"M d, Y"}}</td>
                            <td>{{active.end_date|date:"M d, Y"}}</td>
                            <td>{{active.fil_code_teg}}</td>
                            <td>{{active.text_approval}}</td>
                            {%if ative.used %}
                            <td> <button type="button" class="btn btn-success m-2 btn-sm">Active</button></td>
                            {%else%}
                            <td><button type="button" class="btn btn-info m-2 btn-sm">Processing</button></td>
                            {%endif%}
                            <td><a class="btn btn-sm btn-primary" href=""><i class="fa fa-edit"></i>Detail</a><a href=""><button type="button" class="btn btn-danger m-2 btn-sm"><i class="fa fa-trash"></i>Delete</button></a></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {%endif%}
    <!-- Active Sales End -->
    <!-- Toyas used Sales Start -->
    {% if today_used %}
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Todays used Mails</h6>
                <a href="">Show All</a>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <th scope="col"><input class="form-check-input" type="checkbox"></th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End date</th>
                            <th scope="col">Filtering tags</th>
                            <th scope="col">Text send</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for active in today_used %}
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>{{active.start_date|date:"M d, Y"}}</td>
                            <td>{{active.end_date|date:"M d, Y"}}</td>
                            <td>{{active.fil_code_teg}}</td>
                            <td>{{active.text_approval}}</td>
                            {%if ative.used %}
                            <td> <button type="button" class="btn btn-success m-2 btn-sm">Active</button></td>
                            {%else%}
                            <td><button type="button" class="btn btn-info m-2 btn-sm">Processing</button></td>
                            {%endif%}
                            <td><a class="btn btn-sm btn-primary" href="">Detail</a><a href=""><button type="button" class="btn btn-danger m-2 btn-sm">Delete</button></a></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {%endif%}
    <!-- Toyas used End -->
    <!-- All Mails Start -->
    {% if mails %}
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">All Mails</h6>
                <a href="">Show All</a>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <th scope="col"><input class="form-check-input" type="checkbox"></th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End date</th>
                            <th scope="col">Filtering tags</th>
                            <th scope="col">Text send</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mail in mails %}
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>{{mail.start_date|date:"M d, Y"}}</td>
                            <td>{{mail.end_date|date:"M d, Y"}}</td>
                            <td>{{mail.fil_code_teg}}</td>
                            <td>{{mail.text_approval}}</td>
                            {%if mail.used %}
                            <td> <button type="button" class="btn btn-success m-2 btn-sm">Active</button></td>
                            {%else%}
                            <td><button type="button" class="btn btn-info m-2 btn-sm">Processing</button></td>
                            {%endif%}
                            <td><a class="btn btn-sm btn-primary" href="">Detail</a><a href=""><button type="button" class="btn btn-danger m-2 btn-sm">Delete</button></a></td> 
                            
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {%endif%}
    <!-- All Mails End -->





    <!-- Footer Start -->
    
    <!-- Footer End -->

<!-- Content End -->
{% endblock %}