{% extends 'base.html'%}


{% block content %}
<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    {% include 'includes/nav.html'%}
    <!-- Navbar End -->



    
  
    <!-- All Mails Start -->
    {% if mails %}
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">All Mails</h6>
                <!-- <a href="">Show All</a> -->
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <th scope="col"><input class="form-check-input" type="checkbox"></th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End date</th>
                            <th scope="col">Filtering tags</th>
                            <th scope="col">Text send</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mail in mails %}
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>{{mail.start_date|date:"M d, Y"}}</td>
                            <td>{{mail.end_date|date:"M d, Y"}}</td>
                            <td>{{mail.fil_code_teg}}</td>
                            <td>{{mail.text_approval}}</td>
                            {%if mail.used %}
                            <td> <button type="button" class="btn btn-success m-2 btn-sm">Active</button></td>
                            {%else%}
                            <td><button type="button" class="btn btn-info m-2 btn-sm">Processing</button></td>
                            {%endif%}
                            <td><a class="btn btn-sm btn-primary" href="{% url 'mail_detail' mail.id %}"><i class="fa fa-eye"></i> Detail</a><a href="{% url 'mail_delete' mail.id %}"><button type="button" class="btn btn-danger m-2 btn-sm"onclick="return confirm('Are you sure delete this Mail?')"><i class="fa fa-trash"></i> Delete</button></a></td> 
                            
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {%else%}
    <div class="container-fluid pt-4 px-4">
      <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
          <div class="col-md-6 text-center">
              <h3>Mails not exist yet.</h3>
          </div>
      </div>
  </div>
    {%endif%}
    <!-- All Mails End -->
 




    <!-- Footer Start -->
    
    <!-- Footer End -->

<!-- Content End -->
{% endblock %}